* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 25px;
  box-shadow: 0 5px 5px #ddd;
}

#raflogo {
  padding: 10px 0;
}

#header-logs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#head-search-bar {
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-right: 10px;
}

#head-search-bar #search-bar {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  height: 30px;
}

#head-search-bar #search-icon {
  padding: 5px;
  margin-left: 5px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navlink1,
.navlink {
  color: #444;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-wrap: none;

  align-content: center;

  height: 40px;
  margin: 1px;
  padding: 0 10px;
}

.navlink1 {
  color: #898989;
  cursor: default;
}

.navlink:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #444;
}

.article-section {
  margin: 20px;
  padding: 10px;
  background-color: #eee;
  font-size: 25px;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 400px;
  word-spacing: px;
  letter-spacing: 1px;
}

main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-image: url(images/5259223.jpg); */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top-section {
  display: flex;
  justify-content: flex-start;
}

#myphoto {
  height: 100%;
  margin: 20px;
  box-shadow: 0 10px 10px #02837d;
  /* padding: 5px 10px; */
}

.top-text-div {
  background-color: #f9f9f9;
  padding: 30px;
  margin: 20px;
  border: 2px solid #b5b4b4;
  border-radius: 5px;
  /* box-shadow: 0 10px 10px #888788; */
  width: 100%;
}

#contactForm1 {
  background-color: #02837d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  padding-top: 10px;
  /* height: 50vh; */
}

#contactForm2 {
  background-color: #02837d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.inputs {
  background-color: #eee;
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 220px;
  border-radius: 20px;
}
.inputfield {
  background-color: transparent;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
}

#enterMsg {
  background-color: #eee;
  margin: 5px;
  padding: 10px;
  width: 220px;
  border-radius: 20px 20px 0;
  resize: vertical;
}

#submit {
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: rgba(164, 186, 1, 0.5);
  color: white;
  font-weight: 600;
  width: 240px;
}

#submit:hover {
  background-color: rgba(164, 186, 1, 0.8);
  cursor: pointer;
}

/* @media screen and (max-width: 440px) {
  header {
    height: 140px;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
  nav {
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .navlink1,
  .navlink {
    height: 40px;
    width: 70px;
    margin: 5px;
  }
  #head-search-bar {
    width: 60vw;
  }
} */

/* @media screen and (max-width: 360px) {
  header {
    height: 140px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  nav {
    display: block;
  }
} */
